body {
  font-family: "Roboto", sans-serif;
  color: #434455;
  background-color: #ffffff;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 0;
  margin-bottom: 0;
}

ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

button {
  cursor: pointer;
}

a {
  text-decoration: none;
}

address {
  font-style: normal;
}

img {
  display: block;
}

.container {
  /* width: 1158px; */
  padding-left: 16px;
  padding-right: 16px;
  margin: 0 auto;
  width: 288px;
  /* padding-top: 96px; */
  /* padding-bottom: 48px; */
}

.section {
  padding-top: 96px;
  padding-bottom: 96px;
}
/* ---------------  HEADER --------------- */
.header {
  border-bottom: 1px solid #e7e9fc;
  box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
}

.header-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header-nav {
  display: flex;
  margin-right: auto;
  align-items: center;
}

.header-menu-list {
  display: none;
  /* display: flex;
  gap: 40px;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1); */
}

.header-address {
  display: none;
  /* display: flex;
  gap: 40px;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1); */
}

.header-logo {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
  padding-top: 24px;
  padding-bottom: 24px;
}

.header-logo-accent {
  color: #2e2f42;
}

.header-menu-link {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #2e2f42;
  padding-top: 24px;
  padding-bottom: 24px;
  position: relative;
  display: block;
  /* transition-property: background-color, color, transform;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1); */
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.header-menu-link:hover,
.header-menu-link:focus,
.header-menu-link:active,
.header-address-link:hover,
.header-address-link:focus {
  color: #404bbf;
}

.current-page {
  color: #404bbf;
  /* transition-property: background-color, color, transform;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1); */
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.current-page::after {
  position: absolute;
  left: 0;
  bottom: -1px;
  content: "";
  border-radius: 2px;
  width: 100%;
  height: 4px;
  background-color: #404bbf;
}

.header-address-link {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #434455;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.open-menu-btn {
  padding: 0;
  line-height: 0;
  background-color: transparent;
  cursor: pointer;
  border: none;
}

/* ---------------------------- MOBILE MENU ---------------------------- */
.mob-menu {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  overflow: auto;

  opacity: 0;
  pointer-events: none;
  visibility: hidden;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.mob-menu.is-open {
  opacity: 1;
  pointer-events: auto;
  visibility: visible;
}

.mob-menu-close-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  background-color: #e7e9fc;
  border: 1px solid rgba(0, 0, 0, 0.1);
  top: 24px;
  right: 24px;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  padding: 0;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.mob-menu-close-btn-icon {
  fill: #2e2f42;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.mob-menu-close-btn-icon:active,
.mob-menu-close-btn-icon:focus {
  fill: #fff;
}

.mob-header-menu-list {
  padding-left: 16px;
  padding-top: 72px;
  display: flex;
  flex-direction: column;
  gap: 40px;
}
/* .mob-header-item {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  color: #2e2f42;
} */

.mob-header-link {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  color: #2e2f42;
}
.current-page {
}
.mob-address {
}
.mob-header-address {
  display: flex;
  flex-direction: column;
  gap: 24px;
  padding-left: 16px;
}
.mob-header-address-item {
}
.mob-header-address-link {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #434455;
}

.mob-header-link:hover,
.mob-header-link:focus,
.mob-header-link:active,
.mob-header-address-link:hover,
.mob-header-address-link:active,
.mob-header-address-link:focus {
  color: #404bbf;
}

/* .mob-menu-socialmedia {
  display: block;
} */

.mob-socialmedia-list {
  display: flex;
  gap: 40px;
  padding-left: 16px;
  margin-bottom: 32px;
  /* justify-content: space-between; */
  /* align-items: center;
  justify-content: center; */
}

.mob-socialmedia-item {
  width: 40px;
  height: 40px;
}

.mob-socialmedia-link {
  width: 100%;
  height: 100%;
  background-color: #4d5ae5;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  /* transition-property: background-color, color, transform;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1); */
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.mob-socialmedia-link:active,
.mob-socialmedia-link:focus {
  background-color: #404bbf;
}

.mob-socialmedia-icon {
  fill: #f4f4fd;
}
/* -------------------------------------- */

/* ---------------  HERO --------------- */
.hero {
  padding-top: 72px;
  padding-bottom: 72px;
  background-color: #2e2f42;
  background-image: linear-gradient(
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    ),
    url(../images/hero-bg-mob.jpg);
  max-width: 320px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  margin: 0 auto;
}

@media screen and (min-resolution: 2dppx), (min-resolution: 192dpi) {
  .hero-wrap {
    background-image: linear-gradient(
        rgba(17, 17, 17, 0.4),
        rgba(17, 17, 17, 0.4)
      ),
      url(../images/hero-bg-mob-2x.jpg);
  }
}

.hero-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-align: center;
  color: #fff;
  max-width: 216px;
  margin: 0 auto;
  margin-bottom: 72px;
}

.hero-button {
  display: block;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #fff;
  background-color: #4d5ae5;
  margin: 0 auto;
  padding: 16px 32px;
  border-radius: 4px;
  border: none;
  min-width: 169px;
  /* transition-property: background-color, color, transform;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1); */
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.hero-button:hover,
.hero-button:focus {
  background-color: #404bbf;
}
/* -------------------------------------- */

/* ---------------  Section 1 Advantages --------------- */
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.advantages-svg {
  display: none;
  /* border: 1px solid #8e8f99;
  border-radius: 4px;
  width: 264px;
  height: 112px;
  background: #f4f4fd;
  padding: 24px 0;
  justify-content: center;
  margin-bottom: 8px;
  fill: #f4f4fd; */
  /* display: flex;
  align-items: center; */
}

.advantages-list {
  display: flex;
  flex-direction: column;
  gap: 72px;
}

/* .advantages-list-link {
  width: calc((100% - 3 * 24px) / 4);
} */

.advantages-list-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-align: center;
  color: #2e2f42;
  margin-bottom: 8px;
}

.advantages-list-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

/* -------------------------------------- */

/* ---------------  Section 2 Our Team --------------- */
.team {
  background-color: #f4f4fd;
}

.team-main-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-align: center;
  color: #2e2f42;
  text-transform: capitalize;
  margin: 0 auto;
  margin-bottom: 72px;
}

.team-list {
  display: flex;
  flex-wrap: wrap;
  gap: 72px;
  width: 100%;
}

.team-list-item {
  background-color: #ffffff;
  border-radius: 0 0 4px 4px;
  box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08),
    0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
}

.team-desc {
  padding-top: 32px;
  padding-bottom: 32px;
}

.team-list-subtitle {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  text-align: center;
  color: #2e2f42;
  margin-bottom: 8px;
}

.team-subtitle-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  text-align: center;
  margin-bottom: 8px;
}

.team-socialmedia-list {
  display: flex;
  gap: 24px;
  align-items: center;
  justify-content: center;
}

.team-socialmedia-item {
  width: 40px;
  height: 40px;
}

.team-socialmedia-link {
  width: 100%;
  height: 100%;
  background-color: #4d5ae5;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  /* transition-property: background-color, color; , transform;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1); */
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.team-socialmedia-link:hover,
.team-socialmedia-link:focus {
  background-color: #404bbf;
}
.team-socialmedia-icon {
  fill: #f4f4fd;
}
/* -------------------------------------- */

/* ---------------  Section 3 Our Portfolio --------------- */

.portfolio-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-align: center;
  color: #2e2f42;
  text-transform: capitalize;
  margin: 0 auto;
  margin-bottom: 72px;
}

.portfolio-list {
  display: flex;
  flex-wrap: wrap;
  row-gap: 48px;
  justify-content: center;
}

.portfolio-list-item {
  max-width: 288px;
  /* width: calc((100% - 2 * 24px) / 3); */
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-list-item:hover {
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}

.portfolio-list-item:hover .portfolio-item-cover-text {
  transform: translateY(0);
  box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08),
    0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
}

.portfolio-cover-wrap {
  position: relative;
  overflow: hidden;
}

.portfolio-item-cover-text {
  position: absolute;
  top: 0;
  background-color: #4d5ae5;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #f4f4fd;
  height: 100%;
  padding: 40px 32px;
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  /* transition-property: background-color, color, transform;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1); */
}

.portfolio-desc {
  padding: 32px 16px;
  border: 1px solid #e7e9fc;
  border-top: none;
}

.portfolio-item-subtitle {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
  margin-bottom: 8px;
}

.portfolio-item-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}
/* -------------------------------------- */

/* ---------------  FOOTER --------------- */
.footer {
  background-color: #2e2f42;
  padding-top: 96px;
  padding-bottom: 96px;
}

.footer-container {
  display: flex;
  flex-direction: column;
  gap: 72px;
  /* align-items: baseline; */
}

.footer-logo-section {
  display: block;
}

.footer-logo {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
  text-align: center;
  justify-content: center;
  display: block;
  margin-bottom: 16px;
}

.footer-logo-accent {
  color: #f4f4fd;
}

.footer-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #f4f4fd;
  max-width: 264px;
}

.footer-socialmedia {
  display: block;
  text-align: center;
  justify-content: center;
  align-items: center;
}
/* ------------------------------------------------------------------- */
.footer-subscribe {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.header-socialmedia {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #fff;
  margin-bottom: 16px;
}

.subscribe-input {
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
  border: 1px solid #fff;
  border-radius: 4px;
  width: 264px;
  height: 40px;
  background-color: transparent;
  font-weight: 400;
  font-size: 12px;
  line-height: 2;
  letter-spacing: 0.04em;
  color: #fff;
  justify-content: center;
  margin-bottom: 16px;
}

.subscribe-btn {
  border-radius: 4px;
  padding: 8px 24px;
  min-width: 165px;
  height: 40px;
  background: #4d5ae5;
  border: none;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  text-align: center;
  color: #fff;

  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
}

.subscribe-btn-icon {
  fill: #fff;
  margin-left: 16px;
}

/* ------------------------------------------------------------------- */
.footer-socialmedia-list {
  display: flex;
  gap: 16px;
  align-items: center;
  justify-content: center;
}

.footer-socialmedia-item {
  width: 40px;
  height: 40px;
}

.footer-socialmedia-link {
  width: 100%;
  height: 100%;
  background-color: #4d5ae5;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-socialmedia-link:hover,
.footer-socialmedia-link:focus {
  background-color: #31d0aa;
}

.footer-socialmedia-icon {
  fill: #f4f4fd;
}

.subscribe-form {
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.subscribe-input::placeholder {
  font-weight: 400;
  font-size: 12px;
  line-height: 2;
  letter-spacing: 0.04em;
  color: #fff;
}

/* --------------- WINDOW  --------------- */
.backdrop {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  background-color: rgba(46, 47, 66, 0.4);
  opacity: 0;
  pointer-events: none;
  visibility: hidden;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop.is-open {
  opacity: 1;
  pointer-events: auto;
  visibility: visible;
}

.modal {
  width: 288px;
  min-height: 623px;
  border-radius: 4px;
  fill: #fcfcfc;
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 1px 3px 0 rgba(0, 0, 0, 0.12),
    0 2px 1px 0 rgba(0, 0, 0, 0.2);
  background: #fcfcfc;
  border-radius: 4px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  /* padding: 24px; */
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  padding-top: 24px;
  padding-right: 16px;
  padding-bottom: 16px;
  padding-left: 16px;
}

.modal-close-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  background-color: #e7e9fc;
  border: 1px solid rgba(0, 0, 0, 0.1);
  top: 24px;
  right: 24px;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  padding: 0;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-close-btn-icon {
  fill: #2e2f42;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-close-btn-icon:hover,
.modal-close-btn-icon:focus {
  fill: #fff;
}

.modal-close-btn:hover,
.modal-close-btn:focus {
  background-color: #404bbf;
  border: none;
}

.modal-title {
  margin-top: 48px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  text-align: center;
  color: #2e2f42;
  margin-bottom: 16px;
}

.modal-form-label {
  display: block;
  margin-bottom: 4px;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: #8e8f99;
}

.modal-field {
  margin-bottom: 8px;
}

.modal-input-wrap {
  position: relative;
  margin-bottom: 8px;
}

.modal-input-field {
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 4px;
  height: 40px;
  width: 100%;
  background-color: transparent;
  padding-left: 38px;
  outline: transparent;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-input-field:focus {
  border-color: #4d5ae5;
}

.modal-send-btn {
  border: none;
  border-radius: 4px;
  padding: 16px 32px;
  min-width: 169px;
  height: 56px;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
  background: #4d5ae5;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  text-align: center;
  color: #fff;
  margin: 0 auto;
  display: block;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-field-icon {
  fill: #2e2f42;
  position: absolute;
  left: 16px;
  top: 50%;
  transform: translateY(-50%);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-input-field:focus + .modal-field-icon {
  fill: #4d5ae5;
}

.modal-close-btn:hover .modal-close-btn-icon,
.modal-close-btn:focus .modal-close-btn-icon {
  fill: #ffffff;
}

.modal-field-comment {
  margin-bottom: 16px;
}

.modal-input-comments {
  width: 100%;
  height: 120px;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: rgba(46, 47, 66, 0.4);
  padding: 8px 16px;
  resize: none;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 4px;
  background-color: transparent;
  outline: transparent;
}

.modal-input-comments:focus {
  border-color: #4d5ae5;
}

.checkbox-wrap {
  margin-bottom: 24px;
}

.request-check:checked + .checkbox-label > .custom-checkbox {
  border-radius: 2px;
  background-color: #404bbf;
  border: none;
  fill: #f4f4fd;
}

.custom-checkbox {
  width: 16px;
  height: 16px;
  border-radius: 2px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  display: inline-flex;
  align-items: center;
  justify-content: center;
  fill: transparent;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1),
    fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.checkbox-label {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: #8e8f99;
  margin-bottom: 24px;
}

.policy-link {
  line-height: 1.34;
  text-decoration: underline;
  text-decoration-skip-ink: none;
  color: #4d5ae5;
}

/* -----------------------------  FOR TABLET ----------------------------- */

@media screen and (min-width: 768px) {
  .container {
    width: 768px;
    margin: 0 auto;
  }

  .section {
    padding-top: 96px;
    padding-bottom: 96px;
  }

  /* ---------------  HERO --------------- */
  .hero {
    padding-top: 115px;
    padding-bottom: 112px;
    background-color: #2e2f42;
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/hero-bg-tab.jpg);
    max-width: 768px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    margin: 0 auto;
  }

  @media screen and (min-resolution: 2dppx), (min-resolution: 192dpi) {
    .hero-wrap {
      background-image: linear-gradient(
          rgba(17, 17, 17, 0.4),
          rgba(17, 17, 17, 0.4)
        ),
        url(../images/hero-bg-tab-2x.jpg);
    }

    .hero-title {
      font-weight: 700;
      font-size: 56px;
      line-height: 1.07;
      letter-spacing: 0.02em;
      text-align: center;
      color: #fff;
      max-width: 496px;
      margin: 0 auto;
      margin-bottom: 36px;
    }

    /* ---------------  HEADER --------------- */
    .header-container {
      display: flex;
      align-items: center;
    }

    .header-menu-list {
      display: flex;
      gap: 40px;
      transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }

    .header-address {
      display: flex;
      flex-direction: column;
      gap: 12px;
      transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }

    .header-logo {
      font-family: "Raleway", sans-serif;
      font-weight: 700;
      font-size: 18px;
      line-height: 1.17;
      letter-spacing: 0.03em;
      text-transform: uppercase;
      color: #4d5ae5;
      margin-right: 120px;
    }

    .header-address-link {
      font-weight: 400;
      font-size: 12px;
      line-height: 1.17;
      letter-spacing: 0.04em;

      color: #434455;
      transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }

    .open-menu-btn {
      display: none;
    }
    /* ---------------  Section 1 Advantages --------------- */

    .advantages-list {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      gap: 72px 24px;
    }

    .advantages-list-link {
      width: calc((100% - 24px) / 2);
    }

    /* ---------------  Section 2 Our Team --------------- */
    .team-list {
      display: flex;
      flex-wrap: wrap;
      gap: 64px 24px;
      justify-content: center;
    }

    /* ---------------  Section 3 Our Portfolio --------------- */

    .portfolio-list {
      display: flex;
      flex-wrap: wrap;
      gap: 24px;
      row-gap: 72px;
    }

    .portfolio-list-item {
      width: calc((100% - 24px) / 2);
      transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }
    /* ---------------  FOOTER --------------- */
    .footer-container {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      gap: 72px 24px;
      padding-left: 108px;
    }
  }

  .footer-logo {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4d5ae5;
    text-align: left;
  }

  .footer-logo-accent {
    color: #f4f4fd;
  }

  .footer-text {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #f4f4fd;
  }

  .footer-subscribe {
    display: flex;
    /* flex-direction: row;
  flex-wrap: nowrap; */
    align-items: start;
    justify-content: start;
  }

  .header-socialmedia {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #fff;
    text-align: left;
  }

  .subscribe-form {
    display: flex;
    flex-direction: row;
    /* flex-wrap: nowrap; */
    gap: 24px;
    align-items: start;
    justify-content: start;
  }

  .subscribe-input {
    margin-bottom: 0;
  }

  .subscribe-btn {
    border-radius: 4px;
    padding: 8px 24px;
    min-width: 165px;
    height: 40px;
    background: #4d5ae5;
    border: none;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    text-align: center;
    color: #fff;
    margin: 0;
    display: flex;
    flex-direction: row;
  }

  .modal {
    width: 408px;
    min-height: 584px;
    border-radius: 4px;
    fill: #fcfcfc;
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 1px 3px 0 rgba(0, 0, 0, 0.12),
      0 2px 1px 0 rgba(0, 0, 0, 0.2);
    background: #fcfcfc;
    border-radius: 4px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 24px;
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
}
/* -----------------------------  FOR COMPUTER ----------------------------- */
@media screen and (min-width: 1158px) {
  .container {
    width: 1158px;
    padding-left: 15px;
    padding-right: 15px;
    margin: 0 auto;
  }

  .section {
    padding-top: 120px;
    padding-bottom: 120px;
  }

  /* ---------------  HERO --------------- */
  .hero {
    padding-top: 188px;
    padding-bottom: 188px;
    background-color: #2e2f42;
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/hero-bg.jpg);
    max-width: 1440px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    margin: 0 auto;
  }

  @media screen and (min-resolution: 2dppx), (min-resolution: 192dpi) {
    .hero-wrap {
      background-image: linear-gradient(
          rgba(17, 17, 17, 0.4),
          rgba(17, 17, 17, 0.4)
        ),
        url(../images/hero-bg-2x.jpg);
    }
  }

  .hero-title {
    font-weight: 700;
    font-size: 56px;
    line-height: 1.07;
    letter-spacing: 0.02em;
    text-align: center;
    color: #fff;
    max-width: 496px;
    margin: 0 auto;
    margin-bottom: 48px;
  }
  /* ---------------  HEADER --------------- */
  .header-container {
    display: flex;
    align-items: center;
  }

  .header-menu-list {
    display: flex;
    gap: 40px;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .header-address {
    display: flex;
    flex-direction: row;
    gap: 40px;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .header-logo {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4d5ae5;
    margin-right: 76px;
  }

  .header-address-link {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .open-menu-btn {
    display: none;
  }

  /* ---------------  Section 1 Advantages --------------- */
  .advantages-list {
    display: flex;
    flex-direction: row;
    gap: 24px;
  }
  .advantages-svg {
    border: 1px solid #8e8f99;
    border-radius: 4px;
    width: 264px;
    height: 112px;
    background: #f4f4fd;
    padding: 24px 0;
    justify-content: center;
    margin-bottom: 8px;
    fill: #f4f4fd;
    display: flex;
    align-items: center;
  }

  .advantages-list-link {
    width: calc((100% - 3 * 24px) / 4);
  }
  .advantages-list-title {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
    margin-bottom: 8px;
    text-align: left;
  }

  /* ---------------  Section 2 Our Team --------------- */
  .team-list {
    display: flex;
    gap: 24px;
  }

  /* ---------------  Section 3 Our Portfolio --------------- */
  .portfolio-list {
    display: flex;
    flex-wrap: wrap;
    gap: 24px;
    row-gap: 48px;
  }

  .portfolio-list-item {
    width: calc((100% - 2 * 24px) / 3);
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  /* ---------------  FOOTER --------------- */
  .footer {
    background-color: #2e2f42;
    padding-top: 100px;
    padding-bottom: 100px;
  }

  .footer-container {
    display: flex;
    align-items: baseline;
    flex-wrap: nowrap;
    gap: 0;
  }

  .footer-logo-section {
    display: block;
    margin-right: 120px;
  }

  .footer-logo {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4d5ae5;
    display: inline-block;
    margin-bottom: 16px;
  }

  .footer-logo-accent {
    color: #f4f4fd;
  }

  .footer-text {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #f4f4fd;
    max-width: 264px;
  }

  .footer-subscribe {
    display: block;
  }

  .footer-socialmedia {
    display: block;
  }

  .header-socialmedia {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #fff;
    margin-bottom: 16px;
  }

  .footer-socialmedia-list {
    display: flex;
    gap: 16px;
    margin-right: 80px;
  }

  .footer-socialmedia-item {
    width: 40px;
    height: 40px;
  }

  .footer-socialmedia-link {
    width: 100%;
    height: 100%;
    background-color: #4d5ae5;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .subscribe-input {
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
    border: 1px solid #fff;
    border-radius: 4px;
    width: 264px;
    height: 40px;
    background-color: transparent;
    font-weight: 400;
    font-size: 12px;
    line-height: 2;
    letter-spacing: 0.04em;
    color: #fff;
    padding-left: 16px;
  }

  .subscribe-input::placeholder {
    font-weight: 400;
    font-size: 12px;
    line-height: 2;
    letter-spacing: 0.04em;
    color: #fff;
  }

  .subscribe-btn {
    border-radius: 4px;
    padding: 8px 24px;
    min-width: 165px;
    height: 40px;
    background: #4d5ae5;
    border: none;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    text-align: center;
    color: #fff;

    display: flex;
    justify-content: center;
    align-items: center;
  }

  /* --------------- WINDOW  --------------- */
  .modal {
    width: 408px;
    min-height: 584px;
    border-radius: 4px;
    fill: #fcfcfc;
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 1px 3px 0 rgba(0, 0, 0, 0.12),
      0 2px 1px 0 rgba(0, 0, 0, 0.2);
    background: #fcfcfc;
    border-radius: 4px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 24px;
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
}
